 @model List<Message>
@{
    ViewData["Title"] = "Pigeon Registry";
    int messageId = int.Parse(ViewBag.LatestId ?? "0");
}
@* TODO: Use Bootstrap for styling *@
 <style>
     table * {
        border: solid;
     }
     
     td {
       padding: 5px;
     }
     
     th {
       font-weight: bold;
     }
 </style>

 <h1>Pigeon Registry</h1>
<p>
    Members can list their pigeons here by breed and color.
    The registry will be searchable by breed, color, owner and band number.
</p>
<p>
<a href="Registry/ForumPost">Enter a new post</a>
</p>
<h2>Forum Post</h2>
 <p>Members can also offer birds for sale or report missing or found birds.</p>
<table>
    <thead>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
        <th>Rating</th>
    </thead>

    @foreach(var message in Model)
    {
        @* Highlight the message just sent *@
        <tr style='@(message.MessageId == messageId ? "background-color: yellow;" : "")'>
            <td>@message.Date</td>
            <td>@message.From.Name</td>
            <td>@message.To.Name</td>
            <td>@message.Text</td>
            <td>@message.Rating</td>
        </tr>
    }
    
</table>
